*{
    font-family:'Courier New', Courier, monospace;
    margin: 0 auto;
}

body{
    background-color: rgb(245, 232, 208);
}

 /*CABEÇALHO*/
 
.topo{
    display: flex;
    position: relative;
    background-color: rgb(243, 200, 120);
}

.nav_cabeçalho{
    display: flex;
    font-size: 9pt;
    margin-right: 0;
}

.loja{
    padding-left: 15px;
}

.links{
    text-decoration:none;
    color:black;
    display: flex;
    margin-left: 0;
}

.links_cima{
    color:black;
    text-decoration: none;
    padding-right: 20px;
    padding-top: 13px;
}

h1{
    font-size: 30pt;
    padding: 0;
    margin: 0;
}

/*CONTAINERS*/

.produto{
    margin-top: 40px;
    margin-bottom: 25px;
}

.produto .titulo_secundario{
    font-size: 30pt;
    margin-left: 50px;
}

/*PRODUTOS A VENDA*/
.itens{
    max-width: 1250px;
    display: flex;
}

.itens ul{
    padding: 0;
}

li{
    display: inline-block;
    text-align: right;
    width: 300px;
    height: 340px;
    position: relative;
    text-align: center;
    background-color:rgb(235, 212, 170);
    border-radius: 15px;
}

.obj{
    margin-bottom: 15px;
}

.obj p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: rgb(211, 89, 8);
    font-size: 22pt;
    padding-top: 5px;
    padding-left: 15px;
    bottom: 8px;
    position: absolute;
    display: flex;
    margin: 0;
    left: 2px;
    font-size: 20pt;
}
   
li img {
    max-width: 100%;
    max-height: 100%;
    width: 285px;
    height:270px;
    border-radius: 15px;
    padding: 5px;
}

/*JANELA DO CARRINHO*/

.hide{
    display: none;
}

.botao_carrinho{
    position: fixed;
    right: 5px;
    top:160px;
    border-radius: 45%;
    border: 2px solid black;
    width: 45px;
    height: 45px;
    z-index: 4;
    background-color: rgb(226, 188, 117)
}

.botao_carrinho:hover{
    cursor:pointer;
}

.botao_carrinho img{
    height: 85%;
    width: 85%;
    padding: 0;
    padding-right: 3px;
}

.carrinho_janela{
    width: 250px;
    max-width: 240px;
    min-height: 350px;
    border: 2px solid black;
    position: fixed;
    font-family: arial;
    font-size: 11pt;
    float:right;
    background-color: rgb(250, 201, 109);
    top:170px;
    right: 25px;    
    border-radius: 15px 0px 15px 20px;
    text-align: center;
}

#carrinho{
    margin:0 auto;
    top:5px;
}

.carrinho_janela ul{
    position: relative;
    display: block;
    max-height: 50px;
    max-width: 220px;
    margin: 0 auto;
    margin-top: 3px;
    margin-bottom: 4px;
    padding: 0;
    text-align: left;
    border: 1px solid black;
    box-sizing: border-box;
}

.carrinho_janela img {
    vertical-align: middle;
    height: 46px;
    width: 40px;
    padding-left: 10px;
}

.carrinho_janela p{
    display: inline-block;
    margin-left: 5px;
    font-size: 12pt;
    position: relative;
}

.carrinho_janela .precoItem{
    position: absolute;
    right: 0;
    margin: 0;
    bottom: 0;
    padding-right: 30px;
}

.carrinho_janela .nomeItem{
    position: absolute;
    top: 0;
    margin: 0;
    margin-left: 12px;
}

.carrinho_janela .qtdItem{
    position: absolute;
    margin: 0;
    bottom: 0;
    margin-left: 35px;
}

.add{
    position: absolute;
    border: 2px solid green;
    border-radius: 5px;
    height:30px;
    width: 110px;
    margin-top:5px;
    bottom: 10px;
    right: 30px;
    background-color: lightgreen;
}

.add:hover{
    background-color: limegreen;
    cursor:pointer;
}

.remove{
    position: absolute;
    border: 2px solid rgb(243, 200, 120);
    border: 1px solid rgb(133, 115, 82);
    border-radius: 5px;
    height:28px;
    width: 20px;
    bottom: 11px;
    right: 5px;
    background-color: rgb(230, 199, 142);
}

.remove:hover{
    background-color: rgb(190, 149, 71);
    border: 1px solid rgb(105, 81, 37);
    cursor:pointer;
}

/*RODAPÉ*/

.chao{
    background-color: rgb(250, 201, 109);
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
}

.nav_rodape{
    display: flex;
    margin-right: 170px;
}

.links_baixo{
    text-decoration:none;
    color:black;
    display: inline-block;
    margin: 7px;
}

.links_baixo h2{
    font-size: 12pt;
    padding: 0;
    margin: 0;
}

#copy{
    display: flex;
    margin: 15px 0 0 65px;
}

@media screen and (max-width:430px){
    .itens{
        flex-direction: column;
    }

    .itens{
        width: 300px;
    }

    .produto .titulo_secundario{
        font-size: 18pt;
        padding: 0;
    }    

    .chao{
        position: relative;
    }

    .links_cima h2{
        font-size: 10pt;
    }

    .nav_rodape{
        margin-right: 10px;
    }

    .links_baixo h2{
        font-size: 10pt;
        
    }

    #copy{
        font-size: 8pt;
        margin-left: 40px;
        margin-top: 8px;
    }

    .loja{
        font-size: 25pt;
    }
}